body {
  background-color: #d6d6d6;
}

.cell-text {
  font-size: 10px;
}

#description {
  font-size: 30px;
}

#tooltip {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  font-size: 15px;
  color: #000000;
  background: #ededed;
}

.btn-group {
  margin: 30px 0px 0px 400px;
}

.btn-group button {
  background-color: #4286f4;
  border: 1px solid #000000;
  float: left;
  height: 50px;
  font-size: 12px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group button:hover {
  background-color: #419929;
}

h1 {
  text-align: center;
  margin-right: 200px
}