body {
  background-color: #d6d6d6;
}

.cell-text {
  font-size: 10px;
}

#description {
  font-size: 30px;
}

#tooltip {
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  position: absolute;
  text-align: left;
  font-size: 15px;
  color: #000000;
  background: #ededed;
}